@import url('https://fonts.googleapis.com/css2?family=Anuphan:wght@100;200;300;400;600;700&display=swap');

body{
    font-family: 'Anuphan', sans-serif;
}


*{
    margin: 0;
    padding: 0;
}
/** -------------NAVEGACION------------ **/

.cajaHeader{
    height: 100%;
}

.colorGris{
    background-color: rgb(56, 56, 66);
}

#text1{
    color: white;
}

#text2{
    color:rgb(2, 179, 2);
}
/**----------CONFERENCIA----------------*/
.cajaRou{
    height: 70%;
}
.carousel-item img{
    height: 75vh;
    object-fit: cover;
}




/** ------------ORADORES------------ **/

.tituloCard{
    text-align: center;
}

.tituloCard span{
    font-size: 0.9rem;
}
.tituloCard h2{
    font-size: 1.8rem;
}

.cajaCards{
    height: initial;
}
.cardIndividual .card-body .row .java{
    font-size: 0.8rem;
    background-color: yellow;
    border: 1px solid yellow;
    border-radius: 10%;
    text-align: center;
}

.cardIndividual .card-body .row .react{
    font-size: 0.8rem;
    color: white;
    background-color: rgb(109, 178, 206);
    border: 1px solid rgb(109, 178, 206);
    border-radius: 10%;
    text-align: center;
}

.cardIndividual .card-body .row .negocios{
    font-size: 0.8rem;
    color: white;
    background-color: grey;
    border: 1px solid grey;
    border-radius: 10%;
    text-align: center;
}

.cardIndividual .card-body .row .startups{
    font-size: 0.8rem;
    color: white;
    background-color: red;
    border: 1px solid red;
    border-radius: 10%;
    text-align: center;
}

.texto a{
    text-decoration: none;
    border: 1px solid white;
    border-radius: 5%;
    color: white;
    font-size: 0.9rem;
    padding: 0.3rem;
}

/** ------------FECHA Y LUGAR------------- **/

.mitadImagen{
    background-image: url("../assets/img/honolulu.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 60vh;
}

.mitadTexto{
    background-color: rgb(46, 47, 51);
    color: white;
    height: 60vh;
    
}

/** --------------FORMULARIO--------------- **/

#convierteteEnOrador{
    height: initial;
}

.tituloForm h2{
    text-align: center;
}

.tituloForm span{
    font-size: 0.8rem;
}

.tituloForm p{
    text-align: center;
}

/** ----------------FOOTER-------------- **/

.cajafooter{
    height: 10vh;
    background:linear-gradient( to right, #1d3947,#1d4962,#1e5372)
}

.foot{
    height: 100%;
    width: 100%;
    margin: 0 auto;
}


.foot a{
    color: white;
    text-decoration: none;
    font-size: 1rem;
    margin: 0 auto;
}

/*Cargamos los diseños para celulares*/

@media screen and (max-width: 567px){
    .cajaHeader{
        height: initial;
    }

    /** -----------ORADORES-------------- **/

    .cajaRou{
        height: initial;
    }

    .carousel-item img{
        height: 80vh;
    }

        /** ------------FORMULARIO----------- **/

        #convierteteEnOrador{
            height: initial 
        }

        /** ------------FOOTER-------------- **/
        .cajafooter{
            height: initial;
            padding: 30px;
        }


        .foot{
            height: 100%;
            width: 70%;
            margin: 0 auto;
            text-align: center;
        }
        
        
        .foot a{
            color: white;
            text-decoration: none;
            font-size: 1rem;
        }
}

@media screen and (min-width: 568px) and (max-width:767px) {

    .cajaHeader{
        height: initial;
    }

        /** -----------ORADORES-------------- **/

   
    #lugarYfecha{
        height: initial;
    }

    /** ------------FORMULARIO----------- **/

    #convierteteEnOrador{
        height: initial 
    }

     /** ------------FOOTER-------------- **/
     .cajafooter{
        height: initial;
    }
    
    .foot a{
        width: 100%;
        font-size: 1rem;
        text-align: center;
    }

}

